@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  min-width: 320px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

picture {
  max-width: 100%;
}

/*Header*/
.header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  background-image: url("../images/football_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #666666;
  padding-top: 45px;
  padding-bottom: 110px;
}

.header::after {
  content: "";
  background-color: #0a0e34;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0px;
  opacity: 0.9;
}

.container {
  width: 1560px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.logo-link {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 194px;
  position: relative;
  z-index: 1;
}

.header-title {
  margin-top: 290px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 1;
}

.title-first,
.title-2 {
  font-size: 5.62rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.title-two {
  display: flex;
  justify-content: flex-end;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 220px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 1;
}

.button {
  display: flex;
  align-items: flex-start;
  background-color: #5e42b0;
  margin-right: 50px;
  padding-top: 10px;
  padding-right: 60px;
  padding-bottom: 12px;
  padding-left: 35px;
  border: none;
  border-radius: 33px;
  cursor: pointer;
  transition: background-color 0.1s linear;
}

.button:hover {
  background-color: #8e76d4;
}

.button:last-child {
  margin-right: 0;
  padding-right: 70px;
  padding-left: 55px;
}

.nav-logo {
  width: 40px;
  height: auto;
}

.nav-link {
  font-family: 'Open Sans', sans-serif;
  display: block;
  margin-top: 5px;
  margin-left: 19px;
  text-align: left;
}

.button-text {
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.brand-name {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

/*Athlets*/
.athlets {
  position: relative;
}

.athlets-1:before {
  content: "";
  position: absolute;
  top: 25%;
  right: 0;
  bottom: 30px;
  left: 0;
  z-index: 0;
  background-color: #fafafa;
}

.athlets-2:before {
  content: "";
  position: absolute;
  top: 44%;
  right: 0;
  bottom: 30px;
  left: 0;
  z-index: 0;
  background-color: #f6f4fa;
}

.athlets-3:before {
  content: "";
  position: absolute;
  top: 71%;
  right: 0;
  bottom: 30px;
  left: 0;
  z-index: 0;
  background-color: #5e42b0;
}

.athlets-inner {
  display: flex;
  width: 100%;
  padding-top: 100px;
  justify-content: flex-end;
  position: relative;
}

.footballer {
  width: 566px;
  height: 908px;
  position: absolute;
  top: 27px;
  left: 220px;
  z-index: 1;
}

.section {
  width: 50%;
  max-width: 714px;
  display: block;
  margin-right: 15px;
  margin-left: 48px;
}

.subtitle,
.teams-subtitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 80px;
  font-weight: 700;
  color: #e7e7e7;
  text-transform: uppercase;
}

.section {
  position: relative;
}

.section-inner {
  margin-top: 72px;
}

.section-inner:nth-child(-3n+3),
.section-inner:nth-child(-3n+4) {
  margin-top: 100px;
}

.section-suptitle {
  display: flex;
  margin-top: 67px;
}

.number {
  font-family: 'Open Sans', sans-serif;
  margin-top: 7px;
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

.number:after {
  content: "";
  display: block;
  width: 18px;
  height: 4px;
  margin: 3px auto;
  background-color: #5e42b0;
  border-radius: 2px;
}

.number-last {
  font-family: 'Open Sans', sans-serif;
  margin-top: 7px;
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

.number-last:after {
  content: "";
  display: block;
  width: 18px;
  height: 4px;
  margin: 3px auto;
  background-color: #efefef;
  border-radius: 2px;
}

.suptitle-quality {
  font-family: 'Open Sans', sans-serif;
  margin-left: 10px;
  font-size: 36px;
  color: #c1c1c1;
  text-transform: uppercase;
}

.text {
  width: 100%;
  max-width: 715px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}

.text-last {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  padding-bottom: 90px;
}

/*Teams*/
.teams {
  margin-top: -30px;
  padding-top: 105px;
  position: relative;
}

.teams-1:before {
  content: "";
  position: absolute;
  top: 25%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: #fafafa;
}

.teams-2:before {
  content: "";
  position: absolute;
  top: 46%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: #f6f4fa;
}

.teams-3:before {
  content: "";
  position: absolute;
  top: 72%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: #0a0e34;
}

.teams-inner {
  display: flex;
  position: relative;
}

.teams-section {
  width: 50%;
  display: block;
  position: relative;
}

.teams-content {
  margin-top: 72px;
}

.teams-content:nth-child(-3n+3),
.teams-content:nth-child(-3n+4) {
  margin-top: 100px;
}

.teams-suptitle {
  display: flex;
}

.teams-number {
  font-family: 'Open Sans', sans-serif;
  margin-top: 7px;
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: #5e42b0;
}

.teams-number:after {
  content: "";
  display: block;
  width: 18px;
  height: 4px;
  margin: 3px auto;
  background-color: #efefef;
  border-radius: 2px;
}



.basketballer {
  width: 991px;
  height: 815px;
  position: absolute;
  top: -90px;
  left: 40%;
  z-index: 1;
}

/*Active*/
.active {
  display: flex;
  width: 100%;
  max-width: 1560px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  justify-content: center;
  position: relative;
}

.active-photo {
  display: block;
  margin-right: 64px;
}

.active-items {
  width: 100%;
  max-width: 765px;
  margin-right: 133px;
  margin-left: 64px;
  padding-right: 15px;
  padding-left: 15px;
}

.active-block {
  display: flex;
  width: 167px;
  height: 155px;
  position: absolute;
  top: 30%;
  right: 44%;
  background-color: #5e42b0;
}

.block-number {
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: #f5f6f7;
}

.block-number:after {
  content: "";
  display: block;
  width: 18px;
  height: 4px;
  margin: 3px auto;
  background-color: #8f7bc8;
  border-radius: 2px;
}

.active-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 80px;
  margin-top: 245px;
  font-weight: 700;
  color: #c1c1c1;
  text-transform: uppercase;
}

.active-text {
  font-family: 'Open Sans', sans-serif;
  width: 650px;
  font-size: 24px;
  line-height: 28px;
}

/*Contact*/
.contact {
  display: flex;
  width: 100%;
  max-width: 1560px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}

.contact-items {
  font-family: 'Open Sans', sans-serif;
  max-width: 765px;
  margin-top: 245px;
  margin-right: 140px;
}

.contact-title {
  font-size: 80px;
  font-weight: 700;
  color: #c1c1c1;
  text-transform: uppercase;
}

.contact-text {
  width: 650px;
  font-size: 24px;
  line-height: 28px;
}

.contact-block {
  display: flex;
  width: 167px;
  height: 155px;
  position: absolute;
  top: 30%;
  right: 52%;
  margin-right: -125px;
  background-color: #5e42b0;
}

.block-number {
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: #f5f6f7;
}

.block-number:after {
  content: "";
  display: block;
  width: 18px;
  height: 4px;
  margin: 3px auto;
  background-color: #8f7bc8;
  border-radius: 2px;
}

.work {
  display: flex;
  width: 100%;
  max-width: 1560px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  justify-content: center;
  position: relative;
}

.work-block {
  display: flex;
  width: 167px;
  height: 155px;
  position: absolute;
  top: 30%;
  right: 44%;
  background-color: #5e42b0;
}

.work-items {
  width: 100%;
  max-width: 765px;
  margin-right: 70px;
  margin-left: 64px;
  padding-right: 75px;
  padding-left: 15px;
}

/*Footer*/
.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 228px;
  padding-bottom: 50px;
  box-sizing: border-box;
  position: relative;
  background-image: url("../images/game_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #666666;
}

.footer::after {
  content: "";
  background-color: #0a0e34;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0px;
  opacity: 0.9;
}

.footer-container {
  width: 100%;
  max-width: 870px;
  margin-right: auto;
  margin-left: auto;
}

.footer-inner {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.footer-img {
  display: block;
  width: 105px;
  height: 80px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-right: 12px;
  padding-left: 12px;
  background-color: #553ba2;
  border-radius: 30px
}

.footer-item {
  margin-left: 37px;
}

.footer-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 80px;
  font-weight: 700;
  color: #ffffff;
  margin-top: -11px;
  margin-left: -6px;
  text-transform: uppercase;
}

.footer-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: #a496ca;
  margin: 0 0 0;
  text-transform: uppercase;
}

.footer-nav {
  display: flex;
  justify-content: center;
  margin-top: 151px;
  margin-bottom: 110px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 1;
}

.footer-logo-text {
  margin-top: 260px;
  margin-right: auto;
  margin-left: auto;
  width: 194px;
  position: relative;
  z-index: 1;
}

/*Media*/
@media (min-width: 1921px) {
  .header {
    background-image: url("../images/football-801047.jpg");
  }

  .athlets-1:before,
  .teams-1:before {
    display: none;
  }

  .footer {
    background-image: url("../images/game_1920.jpg");
  }
}

@media (min-width: 1201px) and (max-width: 1920px) {
  .header {
    background-image: url("../images/football_1280.jpg");
  }

  .container {
    width: 100%;
    max-width: 1340px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  .title-two {
    margin-left: 520px;
  }

/*  Athlets */
  .athlets-1:before,
  .teams-1:before {
    display: none;
  }

  .footballer {
    left: 30px;
  }

  .subtitle,
  .teams-subtitle {
    font-size: 4.2vmax;
  }

  .suptitle-quality {
    font-size: 1.87vmax;
  }

  .text,
  .text-last {
    width: 400px;
    font-size: 1.1vmax;
  }

/*  Active */
  .active-items {
    width: 100%;
    max-width: 700px;
  }

  .active-title,
  .contact-title {
    font-size: 4.2vmax;
  }

  .active-text {
    font-size: 1.25vmax;
  }

  .contact-items {
    margin-left: 37px;
  }

  .contact-text {
    width: 37vw;
    font-size: 1.25vmax;
  }

  .footer {
    background-image: url("../images/game_1280.jpg");
  }
}

@media (min-width: 961px) and (max-width: 1200px) {
  .container {
    width: 1080px;
  }

  .title-first,
  .title-two {
    font-size: 7.5vmax;
  }

  .title-two {
    margin-left: 400px;
  }

  .footballer {
    left: 80px;
  }

  .teams-content {
    max-width: 400px;
  }

  .basketballer {
    left: 30%;
  }

  .active-text {
    width: 400px;
    margin-right: 300px;
  }

  .contact-text {
    max-width: 385px;
  }

  .contact-block {
    right: 55%;
  }
}


@media (min-width: 641px) and (max-width: 960px) {
  .header {
    background-image: url("../images/football_767.jpg");
    padding-top: 37px;
    padding-bottom: 90px;
  }

  .logo {
    width: 205px;
  }

  .container {
    width: 100%;
    max-width: 768px;
    padding-right: 57px;
    padding-left: 57px;
  }

  .header-title {
    margin-top: 170px;
    padding-left: 30px;
    padding-right: 20px;
  }

  .title-two {
    margin-left: 108px;
  }

  .title-first,
  .title-2 {
    font-size: 8.3vmax;
  }

  .nav {
    margin-top: 300px;
  }

  .button {
    padding-left: 55px;
    margin-right: 40px;
  }

  .button:last-child {
    padding-left: 65px;
  }

/*  Athlets */
  .athlets {
    padding-top: 70px;
  }

  .athlets-1:before,
  .teams-1:before {
    display: none;
  }

  .athlets-2:before {
    top: 40%
  }

  .athlets-inner {
    padding-top: 0;
  }

  .section {
    max-width: 350px;
    margin-top: 0;
    margin-right: 70px;
  }

  .text,
  .text-last {
    max-width: 350px;
  }

  .footballer {
    left: -140px;
    top: 30px;
    font-size: 2vmax;
  }

  .subtitle,
  .teams-subtitle {
    font-size: 10.4vmax;
  }

  .suptitle-quality {
    font-size: 4.15vmax;
  }

  /*  Teams */
  .teams {
    padding-top: 73px;
  }

  .teams-2:before {
    top: 49%;
  }

  .basketballer {
    left: 36%;
    top: 0;
  }

  .active,
  .work {
    display: flex;
    flex-wrap: wrap;
  }

  .block {
    width: 116px;
    height: 113px;
  }

  .active-block {
    top: 51.5%;
    right: 80%;
  }

  .active-items {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 100px;
  }

  .active-title {
    margin-top: 0;
    margin-left: -5px;
    font-size: 10.4vmax;
  }

  .active-text,
  .contact-text {
    font-size: 3.1vmax;
  }

  .contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .contact-items {
    margin-top: 90px;
    margin-bottom: 100px;
    margin-left: 20px;
  }

  .contact-text {
    margin-left: 5px;
  }

  .contact-block {
    top: 50.5%;
    left: 5.3%;
  }

  .work-block {
    top: 50%;
    right: 81%;
  }

  .work-items {
    margin-top: 80px;
    margin-bottom: 100px;
  }

  .footer {
    background-image: url("../images/game_767.jpg");
    padding-top: 125px;
    padding-bottom: 40px;
  }

  .footer-inner {
    display: block;
    text-align: center;
  }

  .footer-img {
    width: 100px;
    height: 80px;
    margin-right: auto;
    margin-left: auto;
  }

  .footer-item {
    margin-top: 95px;
    margin-left: 0;
    text-align: center;
  }

  .footer-nav {
    margin-top: 270px;
    margin-bottom: 70px;
  }

  .footer-logo-text {
    margin-top: 73px;
  }
}

@media (max-width: 640px) {
  .header {
    background-image: url("../images/football_767.jpg");
    padding-top: 30px;
    padding-bottom: 80px;
  }

  .container {
    width: 100%;
    max-width: 320px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .logo {
    width: 137px;
  }

  .header-title {
    margin-top: 120px;
  }

  .title-two {
    margin-top: 13px;
    margin-left: 110px;
  }

  .title-first,
  .title-two {
    font-size: 7.2vmin;
  }

  .nav {
    margin-top: 78px;
  }

  .button {
    margin-right: 0;
    margin-bottom: 12px;
    padding-top: 6px;
    padding-right: 80px;
    padding-bottom: 6px;
    padding-left: 80px;
  }

  .button:last-child {
    margin-bottom: 0;
  }

  .button:nth-child(-3n+2) {
    padding-right: 90px;
    padding-left: 90px;
  }

  .nav-logo {
    width: 20px;
    height: auto;
  }

  .google {
    margin-left: -8px;
  }

  .button-text,
  .brand-name {
    font-size: 8px;
  }

  .link-google {
    margin-right: 8px;
  }

  /*  Atlets */
  .athlets {
    padding-top: 7px;
  }

  .athlets-1:before {
    top: 31%;
  }

  .athlets-2:before {
    top: 51%;
  }

  .athlets-3:before {
    top: 75%;
  }

  .athlets-inner {
    padding-top: 0;
  }

  .footballer {
    top: 8%;
    left: 70px;
  }

  .subtitle {
    font-size: 50px;
    margin-bottom: 300px;
  }

  .section {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
  }

  .number,
  .number-last,
  .teams-number {
    margin-top: 2px;
  }

  .suptitle-quality {
    font-size: 23px;
  }

  .text,
  .text-last {
    max-width: 280px;
    font-size: 15px;
    line-height: 18px;
  }

  /*  Teams */
  .teams {
    margin-top: 0;
    padding-top: 10px;
  }

  .teams-1:before,
  .teams-2:before,
  .teams-3:before {
    bottom: 60px;
  }

  .teams-2:before {
    top: 54%;
  }

  .teams-3:before {
    top: 74%;
  }

  .teams-section {
    width: 100%;
    margin-top: -40px;
  }

  .teams-subtitle {
    margin-bottom: 315px;
    font-size: 50px;
  }

  .basketballer {
    top: 6%;
    left: -10px;
  }

  /*  Active */
  .active {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: -60px;
  }

  .be-active {
    right: 120px;
  }

  .picture {
    position: relative;
  }

  .active,
  .contact,
  .work {
    padding-left: 0;
  }

  .active-block {
    width: 70px;
    height: 70px;
    top: 71%;
    left: 20px;
  }

  .block-number {
    font-size: 14px;
  }

  .active-items {
    padding-left: 45px;
  }

  .active-title {
    margin-top: 28px;
    margin-left: 35px;
    font-size: 9vmin;
  }

  .active-text {
    max-width: 280px;
    margin-top: 3px;
    margin-bottom: 80px;
    margin-left: 37px;
    font-size: 16px;
  }

  .contact {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .contact-items {
    width: 100%;
    max-width: 280px;
    margin-top: 28px;
    margin-left: 20px;
  }

  .contact-title {
    font-size: 9vmin;
  }

  .contact-text {
    max-width: 280px;
    margin-top: 3px;
    margin-bottom: 80px;
    font-size: 16px;
  }

  .contact-block {
    width: 70px;
    height: 70px;
    top: 71%;
    left: 20px;
  }

  .work {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .work-block {
    width: 70px;
    height: 70px;
    top: 67%;
    left: 20px;
  }

  .work-items {
    margin-right: 65px;
  }

  /*Footer*/
  .footer {
    padding-top: 95px;
    padding-bottom: 7px;
    background-image: url("../images/game_767.jpg");
  }

  .footer-container {
    width: 100%;
    max-width: 320px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .footer-inner {
    display: block;
    text-align: center;
  }

  .footer-img {
    width: 56px;
    height: 46px;
    margin-right: auto;
    margin-left: auto;
  }

  .footer-item {
    margin-top: 82px;
    margin-left: 0;
    text-align: center;
  }

  .footer-title {
    font-size: 8.7vmin;
  }

  .footer-text {
    font-size: 3.8vmin;
  }

  .footer-nav {
    display: block;
    margin-top: 90px;
    margin-bottom: 80px;
  }

  .button {
    padding-left: 110px;
    padding-right: 100px;
  }

  .button:nth-child(-3n+2) {
    padding-left: 110px;
    padding-right: 100px;
  }

  .nav-logo {
    width: 17px;
    height: auto;
  }

  .google {
    margin-left: 0;
  }

  .link-google {
    margin-right: 2px;
  }

  .nav-link {
    margin-top: 1px;
    margin-left: 6px;
  }

  .button-text {
    width: 85px;
    font-size: 8px;
  }

  .footer-logo-text {
    margin-top: 73px;
  }
}
